@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    font-size: $fs-default;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}

img {
    display: block;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 1.25rem;
}

.gap-3 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 1.75rem;
}

.gap-5 {
    gap: 2rem;
}

.wow {
    animation-play-state: paused;
}